/*===================================================
RESET de estilos
===================================================*/

/* reseteo propiedad Bootstrap */
@mixin reset-bootstrap {
        box-sizing: content-box;
}

%reset-estilos {
    margin: 0px;
    padding: 0px;
    @include reset-bootstrap;
}

* , ::after, ::before {
    @extend %reset-estilos;
}

@mixin margenes-10 {
    margin: 10px 10px 10px 10px;
}

/*===================================================
Estilos globales
===================================================*/

body {
    background-color: whitesmoke;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

h1 {
    font-size: calc(1.375rem + 1.5vw);
}

/*===================================================
Estilos barra navegación
===================================================*/

.superior {
    background-color: whitesmoke;
    margin-top: 10px;
}

.superior_nav {
    display: flex;
    width: 100%;
}

.logo {
    width: 50%;

    img {
        position: relative;
    }

}

.superior__contenedor__menu {
    width: 50%;
}

.superior__contenedor__lista {
    line-height: 1.5;

    li {
        margin-bottom: 5px;
        text-align: center;
        background-color: rgb(199, 202, 204);
        background: linear-gradient(to left, rgb(192,192,192) 90%, red 80%);
        width: 150px;
        height: 22px;
        border: solid red 1px;
        border-radius: 15px;
        box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.5);

        &:not(.paginaActual){
            list-style-type: none;
            transition: all 1s;
        }

        &:hover:not(.paginaActual) {
            background: none;
            background-color: yellow;
            scale: 1.1;
            transition: all 0.5s;
        }

        a {
            display: block;
            text-decoration: none;
            color: black;
            font-weight: bold;
        }
    }
}

.paginaActual {
    list-style-image: url("../images/flecha.png");
}

/*===================================================
Estilos pié de página FOOTER
===================================================*/

footer {
    width: 100%;
    text-align: center;
    background-color: grey;
    @include reset-bootstrap;

    img {
        padding: 20px;
        width: 40px;
    
        animation-name: destacar;
        animation-duration: 1s;
        animation-timing-function: ease-in;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-direction: alternate;

        /* Ajustes Responsive celulares */
        @media only screen and (max-width: 400px) {
            & {
                padding: 0;
                width: 20px;
            }
        }
    }    

}

/*===================================================
Estilos página Inicio
===================================================*/

#galeria {
    @include margenes-10;
    justify-items: center;
    align-items: center;
    width: 90%;
}

/*===================================================
Estilos página Servicios
===================================================*/

.servicios {
    line-height: 1.2;
    background-color:burlywood;
    width: 100%;
    text-align: center;

    p {
        margin-bottom: 10px;
    }

    img {
        height: 92px;
    }
}

/*===================================================
Estilos página Sobre Somos
===================================================*/

.producto {
    width: 100%

    p {
        margin-top: 10px;
    }

    video {
        width: 90%;
    }    
}

/*===================================================
Estilos página Ubicación
===================================================*/

.ubicacion {
    @include margenes-10;

    iframe {
        width: 90%;
    }
    
}

.direccion {
    @include margenes-10;
}

/*===================================================
Estilos página Contacto
===================================================*/

.contacto__titulo {
    margin-bottom: 10px;
}

.contacto {
    margin-top: 10px;
    line-height: 1.2;
    background-color:burlywood;
    width: 100%;
    text-align: center;
}

.contacto__imagen {
    width: 100%;
    min-height: 60px;
    max-height: 120px;
    overflow: hidden;
    max-width: 60%;

    img {
        width: 60%;
    }
    
}

.formulario {
    margin-top: 10px;

    fieldset {
        @include margenes-10;
        border: solid grey 2px;
        border-radius: 20px;
        /* Ajustes Responsive celulares */
        @media only screen and (max-width: 400px) {
        & {
                margin: 0 auto;
                padding-bottom: 0px;
            }
        }
    
    }

}

.formulario__item {
    margin-top: 10px;
}

#comentario {
    width: 80%;
}

/*===================================================
Animación
===================================================*/

@keyframes destacar {
    from { }
    to {
        transform: scale(1.2);
    }
}