@import "resets";
@import "variables";
/*===================================================
Estilos globales
===================================================*/
body {
    background-color: $color-fondo;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

h1 {
    font-size: calc(1.375rem + 1.5vw);
}

/*===================================================
Estilos barra navegación
===================================================*/
.superior {
    background-color: $color-fondo;
    margin-top: 10px;
}

.superior_nav {
    display: flex;
    width: 100%;
}

.logo {
    width: 50%;

    img {
        position: relative;
    }

}

.superior__contenedor__menu {
    width: 50%;
}

.superior__contenedor__lista {
    line-height: 1.5;

    li {
        margin-bottom: 5px;
        text-align: center;
        background-color: $color-botones;
        background: linear-gradient(to left, rgb(192,192,192) 90%, red 80%);
        width: 150px;
        height: 22px;
        border: solid red 1px;
        border-radius: 15px;
        box-shadow: $sombra;

        &:not(.paginaActual){
            list-style-type: none;
            transition: all 1s;
        }

        &:hover:not(.paginaActual) {
            background: none;
            background-color: yellow;
            scale: 1.1;
            transition: all 0.5s;
        }

        a {
            display: block;
            text-decoration: none;
            color: black;
            font-weight: bold;
        }
    }
}

.paginaActual {
    list-style-image: url("../images/flecha.png");
}

/*===================================================
Estilos <main> y pié de página <FOOTER>
===================================================*/

main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

footer {
    width: 100%;
    text-align: center;
    background-color: grey;
    @include reset-bootstrap;

    img {
        padding: 20px;
        width: 40px;
    
        animation-name: destacar;
        animation-duration: 1s;
        animation-timing-function: ease-in;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }    

}

/*===================================================
Estilos página Inicio
===================================================*/

#galeria {
    @include margenes-10;
    justify-items: center;
    align-items: center;
    width: 90%;
}

/*===================================================
Estilos página Servicios
===================================================*/

.servicios {
    line-height: 1.2;
    background-color:burlywood;
    width: 100%;
    text-align: center;

    p {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    img {
        height: 92px;
    }
}

.grilla {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-evenly;
    align-items: center;
    div {
        &:nth-child(1) {
            @extend %servicios-cajas;
            grid-column: 1;
            grid-row: 1;
        }
        &:nth-child(2) {
            @extend %servicios-cajas;
            grid-column: 2;
            grid-row: 1;
        }
        &:nth-child(3) {
            @extend %servicios-cajas;
            grid-column: 3;
            grid-row: 1;
            ul {
                li {
                    margin-top: 10px;
                    margin-bottom: 10px;
                    span {
                        font-weight: bold;
                    }
                }
            }
        }
        &:nth-child(4) {
            grid-column: 1;
            grid-row: 2;
            @extend %servicios-fotos;
        }
        &:nth-child(5) {
            grid-column: 2;
            grid-row: 2;
            @extend %servicios-fotos;
        }
        &:nth-child(6) {
            grid-column: 3;
            grid-row: 2;
            @extend %servicios-fotos;
        }
    }
}

/*===================================================
Estilos página Producto // Sobre Nosotros
===================================================*/
.producto {
    width: 100%;
    
    h2 {
        @include margenes-10;
    }

}

/*===================================================
Estilos página Ubicación
===================================================*/

.ubicacion {
    @include margenes-10;

    iframe {
        width: 90%;
    }
    
}

.direccion {
    @include margenes-10;
    span {
        font-weight: bold;
    }
}

/*===================================================
Estilos página Contacto
===================================================*/

.contacto__titulo {
    margin-bottom: 10px;
}

.contacto {
    margin-top: 10px;
    line-height: 1.2;
    background-color:burlywood;
    width: 100%;
    text-align: center;
}

.contacto__imagen {
    width: 100%;
    min-height: 60px;
    max-height: 120px;
    overflow: hidden;
    max-width: 60%;

    img {
        width: 60%;
    }
    
}

.formulario {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-around;
    grid-gap: 50px 50px;

    fieldset {
        @include margenes-10;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        border: solid grey 2px;
        border-radius: 20px;
        &:nth-child(1) {
            grid-column: 1;
            grid-row: 1;
        }
        &:nth-child(2) {
            grid-column: 2;
            grid-row: 1;
        }
        &:nth-child(3) {
            grid-column: 1;
            grid-row: 2;
        }
        &:nth-child(4) {
            grid-column: 2;
            grid-row: 2;
        }
    }

}

.formulario__item {
    margin-top: 10px;
}

#comentario {
    width: 80%;
}

/*===================================================
Estilos página 404
===================================================*/
.body-404 {
    background-image: url("https://images.unsplash.com/photo-1590161311659-852a5207c5b0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-size: cover;
    font-family: 'Roboto', 'sans-serif';
    main {
        p {
            margin-top: 20px;
        }
    }
}

.main-404 {
    display: flex;
    height: 70vh;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.logo-404 {
    position: sticky;
    left: 0;
    top: 0;
}

.header404 {
    font-family: 'Chango', cursive;
    font-size: 48px;
}

.contenido-404 {
    text-align: center;
}

/*===================================================
Animación RELOJ página 404
===================================================*/

$d: 10em;
$t: 4;
$c: #8A9B0F #F8CA00 #E97F02 #BD1550 #490A3D;
$n: length($c);
$u: 100%/($n - 1);

.countdown {
	display: grid;
	margin: 1em auto;
	width: $d; height: $d;
	
	&::after {
		grid-column: 1;
		grid-row: 1;
		place-self: center;
		font: #{.25*$d}/ 2 ubuntu mono, consolas, monaco, monospace;
		animation: num $t*1s steps(1) infinite;
		content: '0:' counter(s, decimal-leading-zero)
	}
}

@keyframes num {
	@for $i from 0 through $t {
		#{$i*100%/$t} { counter-reset: s $t - $i }
	}
}

svg {
	grid-column: 1;
	grid-row: 1
}

[r] {
	fill: none;
	stroke: silver;
	
	+ [r] {
		transform: rotate(-90deg);
		stroke-linecap: round;
		stroke: nth($c, 1);
		animation: arc $t*1s linear infinite;
		animation-name: arc, col
	}
}

@keyframes arc {
	0% { stroke-dashoffset: 0px }
}

@keyframes col {
	@for $i from 0 to $n {
		#{$i*$u} { stroke: nth($c, $i + 1) }
	}
}

/*===================================================
Animación íconos footer
===================================================*/

@keyframes destacar {
    from { }
    to {
        transform: scale(1.2);
    }
}