/*===================================================
RESET de estilos
===================================================*/
* {
    margin: 0px;
    padding: 0px;
}

/*===================================================
Estilos barra navegación
===================================================*/

.superior {
    background-color: whitesmoke;
}

.superior_nav {
    display: flex;
    width: 100%;
}

.logo {
    width: 50%;
}

.superior__contenedor__menu {
    width: 50%;
}

.superior__contenedor__lista {
    line-height: 1.5;
}

.superior__contenedor__lista li{
    position: relative;
    text-align: center;
    list-style-type: none;
    background-color: rgb(199, 202, 204);
    width: 120px;
    height: 22px;
    border: solid red 1px;
    border-radius: 15px;
}

.superior__contenedor__lista li:hover {
    background-color: yellow;
}

.superior__contenedor__lista li a {
    display: block;
    text-decoration: none;
    color: black;
    font-weight: bold;
}


.paginaActual {
    background-color: black;
    text-align: left;
    font-weight: bold;
}

/*===================================================
Estilos pié de página navegación
===================================================*/

footer {
    margin-top: 30px;
    width: 100%;
    text-align: center;
    background-color: grey;
}

footer img {
    padding: 10px;
    width: 40px;
}


/*===================================================
Estilos página INDEX
===================================================*/

.cuadro1 {
    line-height: 1.2;
    margin: 10px 10px 10px 10px;
    background-color: aliceblue;
    width: 100%;
    text-align: center;
    
}

.cuadro1 img {
    height:400px;
}
.cuadro1__foto1 {
    left: 80%;
}

.cuadro1__foto2 {
    right: 10%;
}

.cuadro2 {
    line-height: 1.2;
    margin: 10px 10px 10px 10px;
    background-color:burlywood;
    width: 100%;
    text-align: center;
}

.cuadro2 img {
    height: 500px;
}

.cuadro2__foto2 {
    margin-left: 5%
}

/*===================================================
Estilos página Servicios
===================================================*/

.servicios {
    line-height: 1.2;
    margin: 10px 10px 10px 10px;
    background-color:burlywood;
    width: 100%;
    text-align: center;
}

.servicios img {
    height: 92px;
}

/*===================================================
Estilos página Contacto
===================================================*/

.contacto {
    line-height: 1.2;
    margin: 10px 10px 10px 10px;
    background-color:burlywood;
    width: 100%;
    text-align: center;
}

.contacto__imagen {
    width: 100%;
    min-height: 60px;
    max-height: 120px;
    overflow: hidden;
    max-width: 60%;
}

.contacto__imagen img {
    width: 60%;
}


.formulario {
    width: 100%;
}

.formulario__item {
    margin-top: 50px;
}


/*===================================================
Estilos nuevos
===================================================*/

